<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="me.cpele.fleabrainer"
    >

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <application
        android:name=".ui.CustomApp"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning"
        >

        <activity android:name=".ui.MainActivity"/>

        <activity
            android:name=".ui.SignInActivity"
            android:launchMode="singleTop"
            >

            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER"/>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="android.intent.category.DEFAULT"/>

                <data
                    android:host="auth_callback"
                    android:scheme="fleabrainer"
                    />
            </intent-filter>

        </activity>

        <activity
            android:name=".ui.DetailActivity"
            android:parentActivityName=".ui.MainActivity"
            />

        <service
            android:name=".ui.BeeJobService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            />

        <receiver android:name=".ui.BeeJobReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
            <intent-filter>
                <action android:name="me.cpele.fleabrainer.ACTION_START_BEE_JOB"/>
            </intent-filter>
        </receiver>

    </application>

</manifest>
